* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: 16px;
    color: #333;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #73583a; /* Default background color */
    animation: backgroundChange 4s infinite; /* Background color animation */
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    font-size: 1rem;
}

.nav-link:hover {
    background-color: orangered;
    color: aliceblue;
    border-radius: 4px;
}

.section {
    display: none;
    padding: 20px;
}

.section:target {
    display: block;
}

.intro {
    text-align: center;
    color: #fff;
    animation: textBlink 2s infinite; /* Text blink animation */
}

.intro h1 {
    font-size: 2rem;
}

.intro p {
    font-size: 1.2rem;
}

.intro .animated-text {
    font-size: 1.5rem;
    color: orangered;
    animation: typing 4s steps(30, end) infinite;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: fadeInOut 2s infinite; /* Text fade in and out animation */
}

span {
    color: red;
}

.contact-info {
    margin-top: 20px;
    font-size: 1rem;
}

.contact-info p {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.contact-info i {
    color: #000;
    margin-right: 8px;
}

form {
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

form input:focus,
form textarea:focus {
    border-color: orangered;
    outline: none;
}

form button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: darkred;
}

footer {
    margin-top: auto;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
}

.fa-brands {
    color: #1d0aca;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 10px;
}

footer p {
    margin: 10px 0;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes textBlink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes backgroundChange {
    0% {
        background-color: #db9c58; /* Light orange */
    }
    50% {
        background-color: #f4a261; /* Light coral */
    }
    100% {
        background-color: #db9c58; /* Light orange */
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
