@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-base text-gray-800;
}

.main {
  @apply min-h-screen flex flex-col bg-gradient-to-r from-yellow-400 via-orange-300 to-yellow-400;
  @apply animate-backgroundChange;
}
